<section class="login py-5 bg-light">
    <div class="container">
        <div class="row g-0">
            <div class="col-lg-5">
                <img src="/travel.jpg" class="img-fluid" />
            </div>
            <div class="col-lg-7 text-center py-5">
                <h1>Register</h1>
                <form class="mt-5">
                    <div *ngIf="error" class="alert alert-danger offset-1 col-lg-10" role="alert">
                        {{error}}
                    </div>
                    <div class="form-row">
                        <div class="offset-1 col-lg-10">
                            <input type="email" name="name" [(ngModel)]="name" placeholder="Enter your name"
                                class="form-control my-3 p-4" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="offset-1 col-lg-10">
                            <input type="email" name="email" [(ngModel)]="email" placeholder="Enter your email"
                                class="form-control my-3 p-4" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="offset-1 col-lg-10">
                            <input type="password" name="password" [(ngModel)]="password"
                                placeholder="Enter your password" class="form-control my-3 p-4" />
                        </div>
                    </div>
                    <div class="form-row mb-3">
                        <div class="offset-1 col-lg-10">
                            <input type="submit" (click)="register()" class="submit" value="Register ">
                        </div>
                    </div>
                    <p>Do you have an account? <a href="/login">Login here</a></p>
                </form>
            </div>
        </div>
    </div>
</section>