.row{
    background: white;
    border-radius: 20px;
    /* box-shadow: 5px 2px 2px; */
}
.submit{
    border:none;
    outline:none;
    height:45px;
    width:50%;
    background-color: #ececec;
    border-radius: 5px;
}
.submit:hover{
    background-color: rgba(37,95,156,0.9);
    color:#fff;
}